extends layout

block content
    .container(ng-controller="controller")
        .col-md-12(ng-repeat='article in articles | orderBy: "-_id"')
            h1 {{article.title}}
            p
              {{article.created_by}}
            p
              {{article.content}}
            div
              span.badge Posted {{article.created_at}}
              .pull-right
                span.label.label-default alice
                &nbsp;
                span.label.label-primary story
                &nbsp;
                span.label.label-success blog
                &nbsp;
                span.label.label-info personal
                &nbsp;
                span.label.label-warning Warning
                &nbsp;
                span.label.label-danger Danger
            hr
