extends layout

block content
    .container(ng-controller="controller")
        .col-md-12(ng-repeat='article in articles | orderBy: "-_id"')
            h1 {{article.title}}
            p
              {{article.created_by}}
            p
              {{article.body}}
            div
              span.badge Posted {{article.created_at}}
              .pull-right(ng-repeat='tag in article.tags')
                    span.label.label-primary {{tag}}
                    &nbsp;
            hr


