extends layout

block content
    .container-fluid.backgroundImage
        .paddingText
            form.form-horizontal
                fieldset
                    // Form Name
                    legend Welcome to MEAN CMS
                    // Button
                .form-group
                    p Read more about the stuff that we do
                    a#singlebutton.btn.btn-primary(href='/login') Read More