<div class="container">
  <div ng-repeat="article in articles" class="col-md-12">
    <h1>{{article.title}}</h1>
    <p><i>by {{article.created_by}}</i></p>
    <p>{{article.body}}</p>
    <div><span class="badge">Posted {{article.created_at}}</span>
      <div class="pull-right"><span class="label label-default">alice</span>&nbsp;<span class="label label-primary">story</span>&nbsp;<span class="label label-success">blog</span>&nbsp;<span class="label label-info">personal</span>&nbsp;<span class="label label-warning">Warning</span>&nbsp;<span class="label label-danger">Danger</span></div>
    </div>
    <hr/>
  </div>
</div>