<a href="#/newArticle" type "button" class="btn btn-block btn-primary">Create Article</a>
</br>
<table class="table userTable table-bordered table-striped">
    <tr>
        <th>Title</th>
        <th>Created by</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <tr ng-repeat="article in articles track by $index">
        <td>{{article.title}}</td>
        <td>{{article.created_by}}</td>
        <td>
            <button ng-click="editArticle(article._id)" data-toggle="modal" data-target="#myModal" class="btn btn-warning"><span class="glyphicon glyphicon-edit"></span> Edit</button>
        </td>
        <td>
            <button ng-click="deleteArticle(article._id)" class="btn btn-danger"><span class="glyphicon glyphicon-fire"></span> Delete</button>
        </td>
    </tr>
</table>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit Article</h4>
            </div>
            <div class="modal-body">
                <h4>Category</h4>
                <select ng-model="article.category" class="form-control">
                    <option ng-repeat="category in categories">{{category.name}}</option>
                </select>
                 <h4>Avaliable tags(click to add)</h4>
                <div class="tagList">
                    <p ng-repeat="tag in tags" class="label label-default tagItem" id="{{tag._id}}" ng-click="addTag(tag.name, tag._id)">{{tag.name}}</p>
                </div>
                <form>
                    <div class="form-group">
                        <label for="username">Title</label>
                        <input type="text" class="form-control" id="title" ng-model="article.title" placeholder="Title">
                    </div>
                    <div class="form-group">
                        <label for="name">Body</label>
                        <textarea type="text" class="form-control" id="body" ng-model="article.body" placeholder="Content" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="saveArticle()" data-dismiss="modal">Save Article</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>